// theme colors
$primary: #748DFB;
$danger: #D72638;
$dark: #000914;
$transparent: transparent;


// dark mode specific colors
$body-bg-dark: #000914;
$body-color-dark: #EBF4FF;
$border-color-dark: rgba(#EBF4FF, 75%);
$input-focus-box-shadow: 0 0 0 0.25rem rgba($primary, 0.25);

// typography
$font-family-sans-serif: "Jost";