// required to get $orange variable
@import "/com.docker.devenvironments.code/node_modules/bootstrap/scss/functions"; 
@import "/com.docker.devenvironments.code/node_modules/bootstrap/scss/variables";


// change theme colors
// TODO
/*
@import "/com.docker.devenvironments.code/node_modules/bootstrap/scss/utilities";
$primary: #D4FCC3;
$dark: #090C08;

$utilities: map-merge(
  $utilities,
  (
    "color": (
        property: color,
        class: text,
        values: map-merge(
          $theme-colors,
          (
            "white": $white,
            "body": $body-color,
            "muted": $text-muted,
            "black-50": rgba($black, .5),
            "white-50": rgba($white, .5),
            "reset": inherit,
          )
        )
      ),
  )
);
*/

.sortable-header {
    cursor: pointer;
  }

table {
    .col-content {
        overflow-wrap: anywhere;
    }
    .col-actions {
        min-width: 100px;
        text-align: right;
        vertical-align: middle;
    }
}

// Import Bootstrap
@import "/com.docker.devenvironments.code/node_modules/bootstrap/scss/bootstrap";
