@import "./abstracts/variables";
@import "./abstracts/utilities";
@import "bootstrap/scss/bootstrap";
@import "@fontsource/jost/scss/mixins.scss";

// classes
.sortable-header {
    cursor: pointer;
  }

table {
  tr {
    vertical-align: middle;
  }
  .col-content {
    overflow-wrap: anywhere;
  }
  .col-actions {
    min-width: 100px;
    text-align: right;
  }
}
